.header {
  background-color: black;
  width: 100vw;
  padding-top: 1rem;
  position: fixed;
  top: 0;
  transition: all ease 1s;

  > div {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: #fff;
    }

    .logo {
      width: 10rem;
      margin: 0px 2rem;
    }
  }

}

.title {
  color: rebeccapurple;
}