.container {
  background-color: black;
  height: 100vh;

    .img {    
      margin-left:24rem;
      margin-top: 5rem;
    }
    .form {
      background-color: #3A3A3A;
      border-radius: 5px;
      margin-top: 5rem;
      width: 30%;
      height: 87%;
    }

}