$marginTop: 4rem;

.container {
  background-color: black;
  height: 100vh;
  justify-content: center;
  align-items: unset;

    .img {
      margin-top: $marginTop;
    }
    .form {
      background-color: #3A3A3A;
      border-radius: 5px;
      margin-top: $marginTop;
      width: 30%;
      height: 87%;
    }
}