$margin: auto 0;
$height: 87%;

.container {
  background-color: black;
  height: 100vh;
  justify-content: center;
  align-items: unset;

  .img {
    margin: $margin;
    height: $height;
  }
  .form {
    background-color: #3A3A3A;
    border-radius: 5px;
    margin: $margin;
    width: 30%;
    height: fit-content;
    min-height: $height;
  }
}