@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

main {
  position: relative;
  margin-top: 20vh;
  display: inline-block;
  width: 100vw;
}

a {
  font-family: 'Viga', sans-serif;
  color: white;
}

h6, p {
  font-family: 'Viga', sans-serif;
  color: white;
}
